<!-- Page info -->
<div class="page-top-info">
    <div class="container">
        <h4>Contact</h4>
        <div class="site-pagination">
            <a href="">Home</a> /
            <a href="">Contact</a>
        </div>
    </div>
</div>
<!-- Page info end -->


<!-- Contact section -->
<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 contact-info">
                <h3>Get in touch</h3>
                <p>No 56, Jalan Pudu Keramat, Kuala Lumpur</p>
                <p>+601 2345 6789</p>
                <p>admin@MaiVolunteer.com</p>
                <form class="contact-form">
                    <input type="text" placeholder="Your name" #name>
                    <input type="text" placeholder="Your e-mail" #email>
                    <input type="text" placeholder="Subject" #subject>
                    <textarea placeholder="Message" #message></textarea>
                    <button class="site-btn" (click)="sendmessage()">SEND NOW</button>
                </form>
            </div>
        </div>
    </div>
    
    <div class="map"><iframe src="https://maps.google.com/maps?q=jalan%20pudu&t=&z=13&ie=UTF8&iwloc=&output=embed" style="border:0" allowfullscreen></iframe></div>
</section>
<!-- Contact section end -->


<!-- Related product section -->
<section class="related-product-section spad">
    <div class="container">
    </div>
</section>
<!-- Related product section end -->