<!-- Footer section -->
<section class="footer-section">
    <div class="container">
        <div class="footer-logo text-center">
            <h2 style="color: #66ff00 ;">Contact Us</h2>
        </div>
        <div class="row text-center">
            <div class="col-lg-4 col-sm-4">
                <div class="footer-widget about-widget">
                    <h2>Phone Number</h2>
                    <a href="tel:+60123456789">012-3456789</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="footer-widget about-widget">
                    <h2>Email</h2>
                    <a href="mailto: admin@MaiVolunteer.com">admin@MaiVolunteer.com</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="footer-widget about-widget">
                    <h2>Address</h2>
                    <p>No 56, Jalan Pudu Keramat, Kuala Lumpur</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer section end -->