.background{
    background: linear-gradient(to right, #00a86b ,  #7f00ff);
}

.row{
    background-color: white;
    box-shadow: 1px 1px 1px 1px #000000;
}

.logo{
    background: url("./logo.png");
    padding-right: 15px;
    box-shadow: 1px 1px 1px 1px #000000;
}